/* =========================
   CORMORANT INFANT
========================= */

/* Regular */
@font-face {
    font-family: "Cormorant Infant";
    src: url("./assets/fonts/cormorant-infant/CormorantInfant-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Medium */
@font-face {
    font-family: "Cormorant Infant";
    src: url("./assets/fonts/cormorant-infant/CormorantInfant-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* SemiBold */
@font-face {
    font-family: "Cormorant Infant";
    src: url("./assets/fonts/cormorant-infant/CormorantInfant-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Bold */
@font-face {
    font-family: "Cormorant Infant";
    src: url("./assets/fonts/cormorant-infant/CormorantInfant-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
/* =========================
   RALEWAY
========================= */

/* Regular */
@font-face {
    font-family: "Raleway";
    src: url("./assets/fonts/raleway/Raleway-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Medium */
@font-face {
    font-family: "Raleway";
    src: url("./assets/fonts/raleway/Raleway-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Bold */
@font-face {
    font-family: "Raleway";
    src: url("./assets/fonts/raleway/Raleway-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*::after, *::before {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    max-width: 1920px;
    min-width: 320px;
    padding: 0;
}

html {
    margin: 0 auto 0 !important;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--v3-dark);
    font-family: var(--ff-body);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-transform: none;
    word-break: break-word;
    overflow-x: hidden;
    text-align: left;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin: 0 auto 0;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: var(--v3-dark);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--v3-dark);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

figure, ul {
    padding: 0;
    margin: 0;
}

figure {
    display: flex;
    flex-direction: column;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
}

li {
    list-style: none;
}

strong, b {
    font-weight: 500;
}

address {
    font-style: normal;
}

img, video {
    max-width: 100%;
    height: auto;
    user-select: none;
}

button {
    cursor: pointer;
    user-select: none;
}

label {
    display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

input:-webkit-autofill {
    box-shadow: 0 0 0 30px var(--v3-white) inset !important;
    -webkit-box-shadow: 0 0 0 30px var(--v3-white) inset !important;
    -webkit-text-fill-color: var(--v3-dark) !important;
}

.container-md {
    max-width: 1080px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.overlay::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}