    :root {
        --fs-xs: clamp(16px, 2vw, 20px);
        --fs-sm: clamp(24px, 3vw, 32px);
        --fs-md: clamp(24px, 4vw, 40px);
        --fs-lg: clamp(32px, 6vw, 64px);

        --space-md: clamp(64px, 8vw, 80px);
        --space-lg: clamp(64px, 8vw, 96px);
        --space: clamp(64px, 10vw, 140px);

        --radius-md: 12px;
        --radius-lg: 24px;
    --ff-body: "Raleway", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    --ff-heading: "Cormorant Infant", Georgia, serif;
    }